.sobremarca_container{
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: repeat(2, auto);
	row-gap: 10px;
	padding: 10px;
	margin: 1px;
	background-color: white;
	column-gap: -20px;	
	
}


.description{	
	padding-right: 135px;
}