.Main_search{
	width: 15rem !important;	
	padding: 5px;
	border-radius: 50px;

}


.Main_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white !important ;
}

.right_side{
	display: flex;
	justify-content:center;
	align-items: center;	
}