.routes_container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;

}

.btn_Routes{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F5F6FA ;
	color: #ABACAF;
	border: none;
	padding: 2rem;
	width: 17rem;
	font-size: x-large;
	margin: 1px;
}

.btn_Routes:hover{
	background-color: white ;
	color: #8D4BFF;	
}

.btn_Routes:focus {
	background-color: white ;
	color: #8D4BFF;		
}